In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from scipy.stats import chi2_contingency
import seaborn as sns

In [5]:
tips_dataset = pd.read_csv('/tips.csv')

In [3]:
tips_dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
tips_dataset.mean()

<ipython-input-6-6753ba3463eb>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tips_dataset.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [7]:
tips_dataset.median()

<ipython-input-7-e9c20195312f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tips_dataset.median()

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

In [8]:
tips_dataset.mode()

   total_bill  tip   sex smoker  day    time  size
0       13.42  2.0  Male     No  Sat  Dinner     2

In [9]:
tips_dataset.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [10]:
tips_dataset.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [12]:
total_bill_mean = tips_dataset["total_bill"].mean().round(1)
print(f"THE MEAN OF TOTAL BILL IS : {total_bill_mean}")
tip_mean = tips_dataset["tip"].mean().round(1)
print(f"THE MEAN OF TIP IS : {tip_mean}")
size_mean = tips_dataset["size"].mean().round(1)
print(f"THE MEAN OF SIZE IS : {size_mean}")

THE MEAN OF TOTAL BILL IS : 19.8
THE MEAN OF TIP IS : 3.0
THE MEAN OF SIZE IS : 2.6

In [13]:
total_bill_median = tips_dataset["total_bill"].median().round(1)
print(f"THE MEDIAN OF TOTAL BILL IS : {total_bill_median}")
tip_median = tips_dataset["tip"].median().round(1)
print(f"THE MEDIAN OF TIP IS : {tip_median}")
size_median = tips_dataset["size"].median().round(1)
print(f"THE MEDIAN OF SIZE IS : {size_median}")

THE MEDIAN OF TOTAL BILL IS : 17.8
THE MEDIAN OF TIP IS : 2.9
THE MEDIAN OF SIZE IS : 2.0

In [14]:
tips_dataset.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [16]:
female = tips_dataset[tips_dataset['sex'] == 'female']
male = tips_dataset[tips_dataset['sex'] == 'male']

In [22]:
import pandas as pd
from statsmodels.stats import weightstats as stests
tips_dataset = pd.read_csv('/content/tips.csv')
tips_dataset[['total_bill','size']].describe()
ztest ,propability_value = stests.ztest(tips_dataset['total_bill'], x2=None, value=146)
print(float(propability_value))
if propability_value<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

0.0
Null hyphothesis rejected , Alternative hyphothesis accepted